  <nav class="dash-navbar sticky-top navbar" style="background-color: #13747d;">
    <div class="container text-white">
      <a class="navbar-brand display-4 fw-bold text-white float-left" href="/" style="font-family: cursive;">Ola.ly</a>
      <div class="float-right">
        <button type="button" class="btn btn-light text-white"> <img src="/images/github.png" alt="" class="" height="25px"> </button>
        <button type="button" class="btn btn-outline- text-white fw-bold">Track your link  <i class="fa fa-arrow-right" aria-hidden="true"></i></i></button>

        
      </div>

    </div>
  </nav>