<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="conatiner">
        <form action="/post-url" method="post">
            <input type="text" class="form-control" name="longurl">
            <button class="btn btn-success">shrink url</button>
        </form>
    </div>

<%- include('./partials/footer.ejs') %>
      
</body>
</html>